<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
    <!-- Bulma -->
    <link rel="stylesheet" href="../static/dependencies/css/sass/changes.scss">
    <link rel="stylesheet" href="../static/dependencies/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../static/dependencies/css/bulma/css/bulma.css.map">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Carousel -->
   <link rel="stylesheet" href="../static/dependencies/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
   <link rel="stylesheet" href="../static/dependencies/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

   <!-- Animate.css -->
   <link rel="stylesheet" href="../static/dependencies/animate.css">
   
    <title>Asutosh Padhi</title>
    <style type="text/css">
      body { background: #fafafa !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   </style>
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   <script src="../static/onepage-scroll-master/jquery.onepage-scroll.js"></script>
   <link rel="stylesheet" href="../static/onepage-scroll-master/onepage-scroll.css">

   

  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="../static/dependencies/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  </body>
</html>